<!DOCTYPE html>
<html lang="en">
<head>
<title>My Resume</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
{
  box-sizing: border-box;
}

body 
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* Style the header */
.header 
{
  padding: 80px;
  text-align: center;
  background: Light Blue;
  color: white;
}

/* Increase the font size of the h1 element */
.header h1 
{
  font-size: 40px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side 
{
  <div class="split left">
  <div class="centered">
    flex: 30%;
    background-color: Yellow;
    padding: 20px;
  </div>
</div>
 }

/* Main column */
.main 
{   
  <div class="split right">
  <div class="centered">
  flex: 70%;
  background-color: white;
  padding: 20px;
  </div>
</div>
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) 
{
  .row {   
    flex-direction: column;
  }
}
